/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Header Styles */
header {
    background-color: #3498db;
    color: #fff;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

/* Main Content Styles */
main {
    padding: 20px;
}

section {
    background-color: #f5f5f5;
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
}

.course-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.course-card img {
    max-width: 100%;
    height: auto;
}

.course-card h3 {
    margin-top: 10px;
    font-size: 24px;
}

.course-card p {
    font-size: 14px;
    margin-top: 10px;
}

.course-card .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 5px;
}

/* Additional styles for Contact section */
#contact form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

#contact label {
    font-weight: bold;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#contact input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#contact input[type="submit"]:hover {
    background-color: #2577b5;
}

/* Footer Styles */
footer {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}
